.plan {
    margin-top: 2rem;
    background-color: var(--second-background-color);
    max-width: 25rem;
}

.plan__header {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 2rem 0;
    color: var(--third-text-color);
}

.plan__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    min-height: 20rem;
}

.plan__main li {
    margin: 1rem 0;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--third-text-color);
}

.plan__main__button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.plan__value {
    color: var(--third-text-color);
    text-align: center;
}

.plan__value__price {
    font-weight: bolder;
    font-size: 2rem;
}