body {
    background-image: var(--first-background-color-variant-1);
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--second-background-color);
    color: var(--third-text-color);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.logo {
    display: flex;
    align-items: center;
}

.open-menu-button {
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    color: var(--third-text-color);
    border: 2px solid var(--third-text-color);
    border-radius: 1rem;
    background-color: transparent;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.bar {
    width: 20px;
    margin-bottom: 7px;
    border: 1px solid var(--third-text-color);
    transition: border-color 0.3s linear;
}

.bar:last-child {
    margin-bottom: 0;
}

.open-menu-button:active, 
.open-menu-button:hover {
    background-color: var(--first-background-color);
}

.open-menu-button:active .bar,
.open-menu-button:hover .bar {
    border-color: var(--first-text-color);
}

.menu {
    position: absolute;
    top: -100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: var(--first-background-color-variant-1);
    width: 100vw;
    height: 100vh;
    color: var(--first-text-color);
    transition: top 0.3s linear;
}

.menu.active{
    top: 0;
}

.close-menu-button {
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    margin: 1rem 0;
    color: var(--first-text-color);
    border: 2px solid var(--second-background-color);
    border-radius: 1rem;
    background-color: transparent;
    transition: background-color 0.3s linear, color 0.3s linear;
    cursor: pointer;
}

.close-menu-button:active, 
.close-menu-button:hover {
    background-color: var(--second-background-color);
    color: var(--third-text-color);
}

.link-menu {
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid var(--second-background-color);
    padding: 1rem 0;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.link-menu:nth-child(2) {
    border-top: 2px solid var(--second-background-color);
}

.link-menu:active, 
.link-menu:hover {
    background-color: var(--second-background-color);
    color: var(--third-text-color);
}