main {
    margin: 1rem 2rem;
}

.card-1 {
    padding: 2rem;
    margin-top: 2rem;
}

.card-1>* {
    margin-bottom: 1rem;
}

h1 {
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--first-text-color);
}

h2 {
    font-size: 1.5rem;
}